* {
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
}

.textarea,
.keyboard {
    width: 750px;
    height: 250px;
    padding: 10px;
}

.textarea {
    resize: none;
}

.keyboard {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid #000000;
}

.key {
    display: flex;
    justify-content: center;  
    align-items: center;
    font-size: 16px;
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.clearfix {
    clear: both;
    width: 100%;
}

.backspace,
.capslock,
.enter,
.shift {
    width: 90px;
}

.space {
    width: 330px;
}